# Write a GitHub Action for running tests with yarn
name: Test
on: [push]

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'yarn'
    - run: yarn install --frozen-lockfile
    - run: yarn lint
    - run: yarn cover
    - name: Code Climate Coverage Action
      uses: paambaati/codeclimate-action@v5.0.0

  integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'yarn'
    - run: cd examples
    - run: yarn install --frozen-lockfile
    - run: yarn test
    - name: Code Climate Coverage Action
      uses: paambaati/codeclimate-action@v5.0.0
